.site-navbar-left
  .site-navbar-left-logo
    %h1{class: 'navbar-logo'} Wetrippy
.site-navbar-right
  = link_to "Inscription", new_user_registration_path, class: 'site-navbar-right-link'
  = link_to "Connexion", new_user_session_path, class: 'site-navbar-right-link'
