<div class="site-navbar-left">
  <div class="site-navbar-left-logo">
    <%= raw inline_svg('logo') %>
  </div>
</div>
<div class="site-navbar-right">
  <%= link_to "Inscription", new_user_registration_path, class: 'site-navbar-right-link' %>
  <%= link_to "Connexion", new_user_session_path, class: 'site-navbar-right-link' %>
</div>
