<div class="home-banner">
  <div class="home-banner-title">
    <%= raw inline_svg('logo') %>
  </div>
  <div class="home-banner-slogan">
    <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit</h3>
  </div>
</div>
<div class="home-project">
  <div class="home-project-left">
    <div class="home-project-left-top">
      <%= image_tag 'http://via.placeholder.com/250x200' %>
    </div>
    <div class="home-project-left-bottom">
      <%= image_tag 'http://via.placeholder.com/250x200' %>
    </div>
  </div>
  <div class="home-project-right">
    <div class="home-project-right-top"></div>
    <div class="home-project-right-bottom"></div>
  </div>
</div>
