.exp-card {
  height: 450px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  &-cover {
    flex: 9;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
  }
  &-infos {
    flex: 1;
    color: #484848;
    font-size: 0.938rem; /* 15/16 */
    font-weight: 300;
    p {
      margin: 0;
    }
    &-price {
      font-weight: 700;
      margin-right: 0.25rem; /* 4/16 */
    }
    .rating-star {
      width: 1rem;
    }
  }
}
