.site-navbar {
  z-index: 1;
  padding: 10px 20px;
  display: flex;
  &-left {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    &-logo {
      .navbar-logo {
        font-family: $logo-font;
        font-size: 1.563rem; /* 25/16 */
      }
    }
  }
  &-right {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    a {
      margin: 5px;
    }
  }
}
